<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dias que Usou Cigarro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">  <!-- Para ícones -->
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Dias que Você Usou Cigarro</h2>
    
    <!-- Tabela de Registros -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registros %}
                    <tr>
                        <td>{{ register.date }}</td>
                        <td>
                            {% if register.is_smok %}
                                <span class="badge bg-danger">Usou Cigarro</span>
                            {% else %}
                                <span class="badge bg-success">Não Usou Cigarro</span>
                            {% endif %}
                        </td>
                        <td>
                            <!-- Botão de Deletar Registro -->
                            <form action="{% url 'deletar_registro' register.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" title="Deletar Registro">
                                    <i class="fa fa-trash"></i> Deletar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Botão para Deletar Todos os Registros -->
    <div class="text-center mt-4">
        <form action="{% url 'deletar_todos_registros' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg">
                <i class="fa fa-trash-o"></i> Deletar Todos os Registros
            </button>
        </form>
    </div>
    <div class="text-center mt-5">
         <a href="{% url 'calendario' %}" class="btn btn-secondary mb-4">Voltar ao Calendário</a>
    </div>

</div>
</body>
</html>
